<div class="card m-4 p-4 card--background" role="button">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col col-sm-8 col-md-8">
      <h5 class="card-title sub-title">{{ subtitle }}</h5>
    </div>
    <div
      class="col col-sm-4 col-md-4 d-flex justify-content-center align-items-center"
    >
      <img
        src="{{ imgDirectory }}"
        style="height: 75px; width: 75px; height: auto"
        alt="Gestión de alertas de seguridad"
      />
    </div>
  </div>
</div>
