<div class="card" style="width: 18rem">
  <div class="card-body card-info pb-4">
    <div class="col">
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle lh-1 pb-2 alert-subtitle">Código:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">
            {{ alert.id_alerta_riesgo }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Incidente:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">
            {{ alert.incidente }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Gravedad:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">
            {{ alert.gravedad | titlecase }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Sector:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">
            {{ alert.nombre_sector }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Zona:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">
            {{ alert.nombre_zona }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Fecha:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">
            {{ alert.fecha_hora | date }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Hora:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">
            {{ alert.fecha_hora | date: "shortTime" }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle alert-subtitle">Descripción:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 alert-info">{{ alert.descripcion }}</p>
        </div>
      </div>
      <!-- Botones -->
      <button
        type="button"
        class="eye-button"
        *ngIf="alert.ubicacion"
        (click)="seeEvidence()"
        target="_blank"
      >
        <span class="bi bi-eye" style="color: white">Ver evidencia</span>
      </button>
    </div>

    <app-modal
      [title]="titleModal"
      [description]="descriptionModal"
      (accept)="mitigateAlert($event)"
    ></app-modal>
  </div>
</div>
