<div class="card" style="width: 18rem">
  <div class="card-body col">
    <div class="col">
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle lh-1 mb-2 alert-subtitle">Código:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 mb-2 alert-info">{{ alert.code }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle mb-2 alert-subtitle">Incidente:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 mb-2 alert-info">{{ alert.incident }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle mb-2 alert-subtitle">Gravedad:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 mb-2 alert-info">{{ alert.severity }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle mb-2 alert-subtitle">Sector:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 mb-2 alert-info">{{ alert.sector }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle mb-2 alert-subtitle">Zona:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 mb-2 alert-info">{{ alert.zone }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle mb-2 alert-subtitle">Fecha:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 mb-2 alert-info">{{ alert.date }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle mb-2 alert-subtitle">Hora:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 mb-2 alert-info">{{ alert.hour }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle mb-2 alert-subtitle">Descripción:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 mb-2 alert-info">{{ alert.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
