.alert-subtitle {
  font-size: 0.775rem;
}

.alert-info {
  font-size: 0.775rem;
}

.eye-button {
  background-color: #0E4DA4;
  border: none;
  border-radius: 10%;
  font-size: 0.9rem;
  right: 10px;
  outline: none;
  position: absolute;
  top: -10px;
}

.card-info {
  padding: 0rem 1rem;
  position: relative;
  top: 1rem;
}