<div class="card" style="width: 18rem">
  <div class="card-body card-info">
    <div class="col">
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle lh-1 pb-2 alert-subtitle">Código:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">{{ alert.code }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Incidente:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">{{ alert.incident }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Gravedad:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">{{ alert.severity }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Sector:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">{{ alert.sector }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Zona:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">{{ alert.zone }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Fecha:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">{{ alert.date }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 alert-subtitle">Hora:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 alert-info">{{ alert.hour }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle alert-subtitle">Descripción:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 alert-info">{{ alert.description }}</p>
        </div>
      </div>
    </div>
    <button class="edit-button">
      <span class="bi bi-pencil-fill" style="color: white"></span>
    </button>
    <button
      class="mitigate-button"
      data-bs-toggle="modal"
      data-bs-target="#modalComponent"
      (click)="openModal()"
    >
      <span class="bi bi-volume-mute-fill" style="color: white"></span>
    </button>
    <app-modal
      *ngIf="showModal"
      [title]="titleModal"
      [description]="descriptionModal"
      (close)="closeModal()"
    ></app-modal>
  </div>
</div>
