<app-submenu-card
  routerLink="security-alert-management"
  [imgDirectory]="'../../../assets/images/Alertas de seguridad/Alerta de seguridad.jpg'"
  [subtitle]="'Gestión de alertas de seguridad'"
></app-submenu-card>
<app-submenu-card
  [imgDirectory]="'../../../assets/images/Alertas de seguridad/Seguimiento de riesgos de seguridad.jpg'"
  [subtitle]="'Seguimiento de riesgos de seguridad'"
></app-submenu-card>
<app-submenu-card
  [imgDirectory]="'../../../assets/images/Alertas de seguridad/Registro de alerta.png'"
  [subtitle]="'Registro de alerta'"
></app-submenu-card>