<nav class="navbar navbar-expand-lg navbar-dark navbar--background m-0 p-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <div class="row">
          <a class="navbar-brand header" href="#"
            ><span style="font-size: 0.9rem;">{{ name }}</span></a
          >
        </div>
        <div class="row">
          <a class="navbar-brand header" href="#">
            <span style="font-size: 0.9rem;">{{ role }} | {{ sector }}</span>
            <!-- <span style="font-size: 0.9rem; margin-left: 6rem;"><i class="bi bi-box-arrow-right m-1 pr-2"></i>Salir</span> -->
          </a>
        </div>
      </div>
      <div class="col-2" style="margin-top: 1.1rem; padding-left: 1rem;">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            role="button"
            (click)="redirectTo('home')"
            >Inicio</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Alertas de seguridad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                (click)="
                  redirectTo('security-alerts/security-alert-management')
                "
                >Gestión de alertas de seguridad</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="redirectTo('security-alerts/security-risk-tracking')"
                >Seguimiento de riesgos de seguridad</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="redirectTo('security-alerts/register-alert')"
                >Registro de alerta</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Control de seguridad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" (click)="redirectTo('security-control')"
                >Equipos de seguridad</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="redirectTo('security-control')"
                >Cambio de equipos</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="redirectTo('security-control')"
                >Inspección de EPP's</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Acciones adicionales
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" (click)="logout(); redirectTo('login')"
                >Salir</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
