<app-submenu-card
  routerLink="security-alert-management"
  [imgDirectory]="'../../../assets/images/Control de seguridad/Equipos de seguridad.jpg'"
  [subtitle]="'Equipos de seguridad'"
></app-submenu-card>
<app-submenu-card
  routerLink="security-risk-tracking"
  [imgDirectory]="'../../../assets/images/Control de seguridad/Cambio de equipos.jpg'"
  [subtitle]="'Cambio de equipos'"
></app-submenu-card>
<app-submenu-card
  routerLink="register-alert"
  [imgDirectory]="'../../../assets/images/Control de seguridad/Checklist.png'"
  [subtitle]="'Inspección de EPP\'s'"
></app-submenu-card>