<app-submenu-card
  [imgDirectory]="'../../../assets/images/Control de seguridad/Equipos de seguridad.jpg'"
  [subtitle]="titleSecurityEquipments"
  data-bs-toggle="modal"
  data-bs-target="#modalUbicationComponent"
  (click)="openModal(titleSecurityEquipments)"
></app-submenu-card>
<app-submenu-card
  [imgDirectory]="'../../../assets/images/Control de seguridad/Cambio de equipos.jpg'"
  [subtitle]="titleChangeEquipment"
  data-bs-toggle="modal"
  data-bs-target="#modalEnterComponent"
  (click)="openModal(titleChangeEquipment)"
></app-submenu-card>
<app-submenu-card
  [imgDirectory]="'../../../assets/images/Control de seguridad/Checklist.png'"
  [subtitle]="titleInspection"
  data-bs-toggle="modal"
  data-bs-target="#modalUbicationComponent"
  (click)="openModal(titleInspection)"
></app-submenu-card>
<app-modal-ubication
  [title]="titleModal"
  (accept)="accept($event)"
></app-modal-ubication>

<app-modal-enter
  [title]="titleModal"
>
</app-modal-enter>