.risk-subtitle {
  font-size: 0.775rem;
}

.risk-info {
  font-size: 0.775rem;
}

.edit-button {
  background-color: #E5B819;
  border: none;
  border-radius: 10%;
  right: 40px;
  position: absolute;
  top: -10px;
}

.mitigate-button {
  background-color: #E74C3C;
  border: none;
  border-radius: 10%;
  right: 5px;
  outline: none;
  position: absolute;
  top: -10px;
}

.card-info {
  padding: 0rem 1rem;
  position: relative;
  top: 1rem;
}
