<div class="card" style="width: 18rem">
  <div class="card-body card-info">
    <div class="col">
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle lh-1 pb-2 risk-subtitle">Código:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 risk-info">{{ risk.code }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 risk-subtitle">Incidente:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 risk-info">{{ risk.incident }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 risk-subtitle">Gravedad:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 risk-info">{{ risk.severity }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 risk-subtitle">Sector:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 risk-info">{{ risk.sector }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 risk-subtitle">Zona:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 risk-info">{{ risk.zone }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 risk-subtitle">Fecha:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 risk-info">{{ risk.date }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 risk-subtitle">Hora:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 risk-info">{{ risk.hour }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 risk-subtitle">Causa:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 risk-info">{{ risk.cause }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle pb-2 risk-subtitle">Plan de mejora:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 pb-2 risk-info">
            {{ risk.improvementPlan }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h6 class="card-subtitle risk-subtitle">Descripción:</h6>
        </div>
        <div class="col-8">
          <p class="card-subtitle lh-1 risk-info">{{ risk.description }}</p>
        </div>
      </div>
    </div>
    <button class="edit-button">
      <span class="bi bi-pencil-fill" style="color: white"></span>
    </button>
    <button
      class="mitigate-button"
      data-bs-toggle="modal"
      data-bs-target="#modalComponent"
      (click)="openModal()"
    >
      <span class="bi bi-volume-mute-fill" style="color: white"></span>
    </button>
    <app-modal
      *ngIf="showModal"
      [title]="titleModal"
      [description]="descriptionModal"
      (close)="closeModal()"
    ></app-modal>
  </div>
</div>
