<div class="card" style="width: 18rem">
  <div class="card-body pl-4">
    <h5 class="fw-bold">Registro de alertas</h5>
    <form action="">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Código</label>
        <input type="email" class="form-control" id="code" placeholder="Código">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Incidente</label>
        <input type="email" class="form-control" id="incident" placeholder="Incidente">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Gravedad</label>
        <input type="email" class="form-control" id="severity" placeholder="Gravedad">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Sector</label>
        <input type="email" class="form-control" id="sector" placeholder="Sector">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Zona</label>
        <input type="email" class="form-control" id="zone" placeholder="Zona">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
    </form>
    <button>Registrar</button>
  </div>
</div>
