<div class="card inspection-container mt-4" style="width: 21rem">
  <div class="card-body">
    <h5 class="fw-bold">Equipamientos de protección del personal</h5>
    <div class="col">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">Equipo</th>
            <th scope="col">¿En uso?</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let personalProtectiveEquipment of personalProtectiveEquipments;
              let i = index
            "
          >
            <td>{{ personalProtectiveEquipment.nombre }}</td>
            <td>
              <input
                type="checkbox"
                class="custom-control-input"
                id="{{ 'checkbox' + i }}"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <ng-container
        *ngFor="
          let personalProtectiveEquipment of personalProtectiveEquipments;
          let i = index
        "
      >
        <div class="row mt-4">
          <div class="col-8">
            <p>
              {{ personalProtectiveEquipment.nombre }}
            </p>
          </div>
          <div class="col-4">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="{{'checkbox' + i}}"
              />
              <label class="custom-control-label" for="{{'checkbox' + i}}"
                >Colocado</label
              >
            </div>
          </div>
        </div>
      </ng-container> -->
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary mt-4 inspection--background"
          (click)="register()"
        >
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>
