<div
  class="modal fade"
  id="modalUbicationComponent"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalUbicationComponentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUbicationComponentLabel">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="sector" class="form-label">Sector</label>
          <select class="form-select" aria-label="Seleccione">
            <option selected>Seleccione</option>
            <option value="1">Administrativa</option>
            <option value="2">Producción</option>
            <option value="3">Soporte</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="zone" class="form-label">Zona</label>
          <select class="form-select" aria-label="Seleccione">
            <option selected>Seleccione</option>
            <option value="1">Despacho</option>
            <option value="2">Recojo</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>
