<div
  class="modal fade"
  id="modalUbicationComponent"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalUbicationComponentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUbicationComponentLabel">
          {{ title }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" id="ubicationForm" [formGroup]="formUbication">
          <div class="mb-3">
            <label for="sector" class="form-label">Sector</label>
            <select
              class="form-select"
              aria-label="Seleccione"
              formControlName="cBoxSector"
            >
              <option selected value="0" [hidden]="!isPersonalSecurity">
                Todos
              </option>
              <option
                *ngFor="let sector of this.sectors"
                [value]="sector.id_sector"
              >
                {{ sector.nombre }}
              </option>
            </select>
          </div>
          <div class="mb-3" *ngIf="!hideCboxZone">
            <label for="zone" class="form-label">Zona</label>
            <select
              class="form-select"
              aria-label="Seleccione"
              formControlName="cBoxZone"
            >
              <option selected value="0" hidden>Todos</option>
              <option *ngFor="let zone of this.zones" [value]="zone.id_zona">
                {{ zone.nombre }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary button--modal"
          data-bs-dismiss="modal"
          (click)="acceptModal()"
          [disabled]="formUbication.invalid && !hideCboxZone"
        >
          Aceptar
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
