<div class="card equipment-container mt-4" style="width: 21rem">
  <div class="card-body">
    <h5 class="fw-bold">Información del equipo</h5>
    <form action="" id="alertForm" [formGroup]="formSecurityEquipment">
      <div class="mb-3">
        <label for="code" class="form-label">Código</label>
        <input
          type="text"
          class="form-control"
          id="code"
          placeholder="Código"
          formControlName="cBoxCode"
        />
      </div>
      <!-- Sector -->
      <div class="mb-3">
        <label for="sector" class="form-label">Sector</label>
        <select
          class="form-select"
          aria-label="Seleccione"
          formControlName="cBoxSector"
        >
          <option disabled selected value="0" hidden>Seleccione</option>
          <option
            *ngFor="let sector of this.sectors"
            [value]="sector.id_sector"
          >
            {{ sector.nombre }}
          </option>
        </select>
      </div>
      <!-- Zona -->
      <div class="mb-3">
        <label for="zone" class="form-label">Zona</label>
        <select
          class="form-select"
          aria-label="Seleccione"
          formControlName="cBoxZone"
        >
          <option disabled selected value="0" hidden>Seleccione</option>
          <option *ngFor="let zone of this.zones" [value]="zone.id_zona">
            {{ zone.nombre }}
          </option>
        </select>
      </div>
      <!-- Equipo -->
      <div class="mb-3">
        <label for="equipment" class="form-label">Equipo</label>
        <input
          type="text"
          class="form-control"
          id="equipment"
          placeholder="Equipo"
          formControlName="inputEquipment"
          required
        />
      </div>
      <!-- Posición -->
      <div class="mb-3">
        <label for="position" class="form-label">Posición</label>
        <input
          type="text"
          class="form-control"
          id="position"
          placeholder="Posición"
          formControlName="inputPosition"
          required
        />
      </div>
      <!-- Número de serie -->
      <div class="mb-3">
        <label for="serieNumber" class="form-label">Número de serie</label>
        <input
          type="text"
          class="form-control"
          id="serieNumber"
          placeholder="Número de serie"
          formControlName="inputSerieNumber"
          required
        />
      </div>
      <!-- Marca -->
      <div class="mb-3">
        <label for="mark" class="form-label">Marca</label>
        <input
          type="text"
          class="form-control"
          id="mark"
          placeholder="Marca"
          formControlName="inputMark"
          required
        />
      </div>
      <!-- Estado de control -->
      <div class="mb-3">
        <label for="controlState" class="form-label">Estado de control</label>
        <input
          type="text"
          class="form-control"
          id="controlState"
          placeholder="Estado de control"
          formControlName="inputControlState"
          required
        />
      </div>
      <!-- Estado físico -->
      <div class="mb-3">
        <label for="physicalState" class="form-label">Estado físico</label>
        <input
          type="text"
          class="form-control"
          id="physicalState"
          placeholder="Estado físico"
          formControlName="inputPhysicalState"
          required
        />
      </div>
      <!-- Fecha de adquisición -->
      <div class="mb-3">
        <label for="adquisitionDate" class="form-label"
          >Fecha de adquisición</label
        >
        <input
          type="text"
          class="form-control"
          id="adquisitionDate"
          placeholder="Fecha de adquisición"
          formControlName="inputAdquisitionDate"
          [value]="
            formSecurityEquipment.get('inputAdquisitionDate')!.value
              | date: 'dd/MM/yyyy'
          "
          required
        />
      </div>
      <!-- Fecha de vencimiento -->
      <div class="mb-3">
        <label for="expirationDate" class="form-label"
          >Fecha de vencimiento</label
        >
        <input
          type="text"
          class="form-control"
          id="expirationDate"
          placeholder="Fecha de vencimiento"
          formControlName="inputExpirationDate"
          [value]="
            formSecurityEquipment.get('inputExpirationDate')!.value
              | date: 'dd/MM/yyyy'
          "
          required
        />
      </div>
    </form>

    <div class="d-flex justify-content-between">
      <button
        type="submit"
        class="btn btn-secondary"
        (click)="close()"
      >
        Cerrar
      </button>
      <button
        type="submit"
        class="btn btn-primary equipment--background"
        (click)="seePlanAction()"
      >
        Ver Plan de acción
      </button>
    </div>
  </div>
</div>