<nav class="navbar navbar-expand-lg navbar-dark navbar--background">
  <div class="container-fluid">
    <a class="navbar-brand header" href="#"
      ><span style="font-size: medium;">{{ name }}</span></a
    >
    <a class="navbar-brand header" href="#"
      ><span style="font-size: small;">{{ role }}</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Alertas de seguridad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#"
                >Gestión de alertas de seguridad</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Seguimiento de riesgos de seguridad</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Registro de alerta</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Control de seguridad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Equipos de seguridad</a></li>
            <li><a class="dropdown-item" href="#">Cambio de equipos</a></li>
            <li><a class="dropdown-item" href="#">Inspección de EPP's</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
