<!-- <div class="row row-cols-2 row-cols-md-2 g-4 py-4">
  <div class="row">
    <div class="card col-sm-6 m-2">
      <img src="../../assets/images/Alerta de seguridad.jpg" class="card-img-top" alt="Alerta de seguridad">
      <div class="card-body">
        <h5 class="card-title">Alertas de seguridad</h5>
      </div>
    </div>
    <div class="card col-sm-6 m-2">
      <img src="../../assets/images/Alerta de seguridad.jpg" class="card-img-top" alt="Alerta de seguridad">
      <div class="card-body">
        <h5 class="card-title">Alertas de seguridad</h5>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row row-cols-2 row-cols-md-2 g-4 py-4">
    <div class="col">
      <div class="card" role="button" routerLink="/security-alerts">
        <img
          src="../../assets/images/home/Alerta de seguridad.jpg"
          class="card-img-top"
          alt="Alerta de seguridad"
        />
        <div class="card-body">
    <h5 class="card-title text-center">Alertas de seguridad</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" role="button" routerLink="/">
        <img
          src="../../assets/images/home/Equipos de seguridad.jpg"
          class="card-img-top"
          alt="Equipos de seguridad"
        />
        <div class="card-body">
          <h5 class="card-title text-center">Control de seguridad</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" role="button" routerLink="/">
        <img
          src="../../assets/images/home/Capacitaciones de seguridad.webp"
          class="card-img-top"
          alt="Capacitaciones de seguridad"
        />
        <div class="card-body">
          <h5 class="card-title text-center">Capacitaciones</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" role="button" routerLink="/">
        <img
          src="../../assets/images/home/Cuestionarios.jpg"
          class="card-img-top"
          alt="Cuestionarios"
        />
        <div class="card-body">
          <h5 class="card-title text-center">Cuestionarios</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
